@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700,900"&display=swap');

* {
font-family: "roboto";

}

html, 
body {
    max-width: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 70px;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    flex-shrink: 0;
}

.bold {
    font-weight: 900;
}

.top {
    display: flex;
    justify-content: space-between;
    min-width: 50px;
    flex-wrap: wrap;
}

ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-self: center;
    gap: 18px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-text {
    flex: 1;
    min-width: 250px;
    max-width: 500px;
}

.bottom {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.text {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}

.h-img > img {
    vertical-align: bottom;
    border: #6e7e9f solid 10px;
    height: 300px;
    width: 500px;
    border-radius: 15px;
}

.button {
    padding: 10px 20px;
    background-color: #3882F6;
    color:#F9FAF8;
    border: 0;
    font-weight: 900;
    border-radius: 8px;
}

.button:hover {
    background-color: burlywood;
}

p { 
    text-align: justify;
    font-weight: 100;
}

.information-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 50px;
}

.info-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.container p {
    color: #6d7584;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

.article-preview img {
    width:  220px;
    height: 220px;
    object-fit: cover;
    border: #3882F6 5px solid;
    border-radius: 20px;
}

.article-preview img:hover {
  opacity: 50%;
}

.article {
    flex: 1;
}

.testimonial-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    font-size: 36px; 
    font-weight: 150;
    font-style: italic;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
    gap: 5px;
}

.testimonial-text {
    text-align: justify;
    hyphens: manual;
    min-width: 450px;
}

.testimonial-name {
    align-self: end;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
}
